.footer {
  background: hsl(168, 65%, 75%);
  background: hsl(202, 85%, 80%);
  height: auto;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  color: hsl(168, 34%, 41%);

  .footer-link {
    text-decoration: none;
    color: hsla(168, 34%, 41%, 1);
  }

  .footer-link:hover {
    color: hsl(0, 0%, 100%);
  }

  &-ul {
    list-style-type: none;

    li {
      margin-right: 2rem;
    }
  }

  .attribution {
    font-size: 16px;
  }
}
