// NAV STYLES

.custom-nav-positioning {
  position: absolute;
  top: 4rem;
  z-index: 10;
}

// .navbar a {
//   color: #fff;
// }

// SPACE NAV LIST ITEMS
.nav-item {
  margin-right: 1rem;
}

// HERO IMAGE STYLES
.hero-img {
  width: 100%;
}

.hero-text {
  font-size: 6vw;
  font-family: "Fraunces", serif;
}
